@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common utilities */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

.container {
    width: 1321px;
}

/* banner section */
.banner {
    display: flex;
    background-color: #161616;
    border-radius: 30px;
}

.banner-text {
    color: #FFFFFF;
    padding-left: 106px;
}

.banner-heading {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
}


.btn {
    padding: 16px 25px;
    width: 187px;
    height: 56px;
    background-color: #DD0000;
    border-radius: 5px;
    color: #FFFFFF;
}

.banner-img-container {
    margin: 0;
    padding: 0;
}

.banner-img {
    height: 581px;
    width: 613px;
    /* padding-top: 33px; */
    padding-right: 79px;
}